/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .banner-box {
 	width: 1000px;
 	height: 150px;
 	border: 10px dotted black;
 	margin: 0 auto;
 	margin-bottom: 30px;
 	background-color: pink;
 }

 .banner {
	margin: 0 auto;
	margin-bottom: 30px;
	font-size: 90px;
	color: blue;
	font-family: "Menlo";
	font-style: italic;
	text-align: center;
	padding: 20px;
}

.banner a {
	text-decoration: none;
	color: blue;
}

/*.banner a:link a:visited a:hover a:active {
	text-decoration: none;
}*/

.subheader {
	font-size: 25px;
	font-family: "Menlo";
}